---
import Pill from "@/components/brand/pill";
import Section from "@/components/layout/Section.astro";
import { EVENTS } from "@/components/layout/nav/nav-links";
import { buttonVariants } from "@/components/ui/button";
import {
  Card,
  CardContent,
  CardFooter,
  CardHeader,
  CardTitle,
  cardStyle,
} from "@/components/ui/card";
import { cn } from "@/lib/utils";
import { Cloudinary } from "astro-cloudinary-image";

const gridItemClasses = ["", "", ""];
---

<Section class="fl-space-y-l" contentWidth="2xl">
  <Pill color="blue">Our Events</Pill>
  <div class="fl-gap-s grid md:grid-cols-2 xl:grid-cols-3">
    <div
      class="flex flex-col items-start fl-space-y-xs max-xl:col-span-full fl-mb-l"
    >
      <h2 class="font-marker fl-text-step-4 xl:col-start-2 leading-tight">
        In and <u>outside of classrooms</u>
      </h2>
      <p
        class="flex fl-gap-x-2xs font-bold fl-text-step-1 tracking-widest flex-wrap"
      >
        Experiences maketh a child
      </p>
    </div>
    {
      EVENTS.map((p, i) => (
        <Card className={cn(gridItemClasses[i])}>
          <CardHeader>
            <CardTitle className="font-marker">{p.title}</CardTitle>
          </CardHeader>
          <CardContent className="fl-space-y-s">
            <p class="fl-text-step-0">{p.children}</p>
            <Cloudinary
              src={p.image}
              alt=""
              errorImage=""
              class:list={cn(cardStyle(), "mx-auto sm:mx-0 xl:mx-auto")}
            />
          </CardContent>
          <CardFooter className="justify-end">
            <a class={cn(buttonVariants({ size: "default" }))} href={p.href}>
              more!
            </a>
          </CardFooter>
        </Card>
      ))
    }
  </div>
</Section>
