---
import Pill from "@/components/brand/pill";
import Section from "@/components/layout/Section.astro";
import { PROGRAMS } from "@/components/layout/nav/nav-links";
import { buttonVariants } from "@/components/ui/button";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
  cardStyle,
} from "@/components/ui/card";
import { cn } from "@/lib/utils";
import { Cloudinary } from "astro-cloudinary-image";
import { LucideClock } from "lucide-react";

const gridItemClasses = [
  "xl:row-start-1 xl:col-start-1 mr-auto",
  "xl:row-span-1 md:row-start-2 ml-auto",
  "xl:row-start-1 xl:col-start-3 mr-auto",
];
---

<Section class="md:fl-space-y-l">
  <div class="flex flex-col text-center items-center fl-space-y-s">
    <Pill color="red">Our Programs</Pill>
    <h2
      class="font-marker fl-text-step-4 xl:col-start-2 leading-snug [text-wrap:balance]"
    >
      <u>Fun learning</u> is our <u>serious</u> business.
    </h2>
    <p
      class="flex fl-gap-x-2xs justify-center font-bold fl-text-step-1 tracking-widest flex-wrap"
    >
      <span>Play.</span>
      <span>Explore.</span>
      <span>Grow.</span>
      <span>Collaborate.</span>
    </p>
  </div>
  <div class="fl-gap-s xl:fl-gap-y-2xs grid md:grid-cols-2 xl:grid-cols-3">
    <p
      class="text-center leading-tight fl-space-y-2xs md:max-xl:fl-py-xl fl-py-s tracking-wide [text-wrap:balance]"
    >
      <b>High-value</b> lessons and activities, with the <b>love and care</b> of
      our professional teachers, all throughout <b>the entire day</b>!
    </p>
    {
      PROGRAMS.map((p, i) => (
        <Card
          className={cn(
            gridItemClasses[i],
            "max-md:max-w-[50ch] xl:text-center h-min md:row-span-2",
          )}
        >
          <CardHeader>
            <CardTitle className="font-marker">{p.title}</CardTitle>
            <CardDescription>
              <LucideClock className="inline fl-w-s" />
              {p.pill}
            </CardDescription>
          </CardHeader>
          <CardContent className="fl-space-y-s">
            <Cloudinary
              src={p.image}
              alt=""
              errorImage=""
              width="330"
              height="220"
              resize="fill"
              class:list={cn(cardStyle(), "mx-auto sm:mx-0 xl:mx-auto")}
            />
            <p class="fl-text-step-0">{p.children}</p>
          </CardContent>
          <CardFooter className="justify-end">
            <a class={cn(buttonVariants({ size: "default" }))} href={p.href}>
              more!
            </a>
          </CardFooter>
        </Card>
      ))
    }
  </div>
</Section>
