---
import Section from "@/components/layout/section.astro";
import { buttonVariants } from "@/components/ui/button";
import { cardStyle } from "@/components/ui/card";
import { Cloudinary } from "astro-cloudinary-image";
import { LucidePhone, LucideSchool } from "lucide-react";
import { SCHOOLS } from "./schools";

function stripNonNumeric(str: string) {
  return str.replace(/\D/g, "");
}
---

<Section id="our-schools">
  <div class="fl-text-step-1 [text-wrap:balance] fl-space-y-2xl">
    <h2 class="fl-text-step-4 font-marker text-center">
      <LucideSchool className="inline-icon fl-mb-xs" />
       Our Schools
    </h2>
    <hr />
    {
      SCHOOLS.map((school) => (
        <>
          <article class="grid sm:grid-cols-[min-content_1fr] fl-gap-y-l fl-gap-x-3xl items-center">
            <div class="fl-space-y-m whitespace-nowrap">
              <h3 class="fl-text-step-3 font-marker">{school.name}</h3>
              <div class="flex flex-wrap lg:flex-col fl-gap-l justify-between max-md:items-end">
                <p>
                  {school.address.map((a) => (
                    <>
                      {a}
                      <br />
                    </>
                  ))}
                </p>
                <address class="[&>a]:block">
                  {school.contacts.map((c) => (
                    <a
                      href={`tel:+6${stripNonNumeric(c)}`}
                      class={buttonVariants({
                        variant: "link",
                        font: "unset",
                        size: "unset",
                      })}
                    >
                      <LucidePhone className="inline-block fl-h-m fl-mr-xs" />
                      <span>{c}</span>
                    </a>
                  ))}
                </address>
              </div>
            </div>

            <Cloudinary
              src={school.image}
              alt=""
              errorImage=""
              class:list={cardStyle()}
            />
          </article>
          <hr />
        </>
      ))
    }
  </div>
</Section>
