---
import Section from "@/components/layout/Section.astro";
import { buttonVariants } from "@/components/ui/button";
import { cardStyle } from "@/components/ui/card";
import { getImageByPublicId } from "@/lib/cloudinary";
import { cn } from "@/lib/utils";
import { LucidePhone, LucideSchool } from "lucide-react";
import { SCHOOLS } from "./_schools";

function stripNonNumeric(str: string) {
  return str.replace(/\D/g, "");
}
---

<Section id="our-schools" contentWidth="lg">
  <div class="fl-space-y-2xl [text-wrap:balance]">
    <h2 class="text-center font-marker fl-text-step-4">
      <LucideSchool className="inline-icon fl-mb-xs" />
       Our Schools
    </h2>

    {
      SCHOOLS.map(async (school) => {
        const image = await getImageByPublicId(
          `powerkids/about/schools/${school.imageId}`,
        );
        return (
          <>
            <hr />
            <article class="mx-auto flex justify-between fl-gap-y-l fl-gap-x-3xl max-lg:max-w-screen-md max-md:max-w-screen-sm max-md:flex-col md:items-center">
              <div class="whitespace-nowrap fl-space-y-m">
                <h3 class="font-marker fl-text-step-3">{school.name}</h3>
                <div class="flex flex-wrap justify-between fl-gap-l max-md:items-end lg:flex-col">
                  <p>
                    {school.address.map((a) => (
                      <>
                        {a}
                        <br />
                      </>
                    ))}
                  </p>
                  <address class="[&>a]:block">
                    {school.contacts.map((c) => (
                      <a
                        href={`tel:+6${stripNonNumeric(c)}`}
                        class={buttonVariants({
                          variant: "link",
                          font: "unset",
                          size: "unset",
                        })}
                      >
                        <LucidePhone className="inline-block fl-h-m fl-mr-xs" />
                        <span>{c}</span>
                      </a>
                    ))}
                  </address>
                </div>
              </div>

              <div class={cn(cardStyle(), "max-w-screen-md")}>
                <img
                  src={image.url}
                  alt={image.alt}
                  height={image.height}
                  width={image.width}
                  loading="lazy"
                  decoding="async"
                />
              </div>
            </article>
          </>
        );
      })
    }
  </div>
</Section>
